@media screen and (max-width: 992px) {

  .ui.search {
    margin: 185px auto;
    left: 40%;
  }
}

@media screen and (max-width: 1635px) {

  .ui.search {
    margin: 345px auto;
    left: 42%;
  }
}

@media screen and (max-width: 1480px) {

  .ui.search {
    margin: 310px auto;
    left: 42%;
  }
}


@media screen and (max-width: 1330px) {

  .ui.search {
    margin: 290px auto;
    left: 40%;
  }
}


@media screen and (max-width: 1115px) {

  .ui.search {
    margin: 260px auto;
    left: 40%;
  }
}

@media screen and (max-width: 1000px) {

  .ui.search {
    margin: 230px auto;
    left: 40%;
  }
}

@media screen and (max-width: 900px) {

  .ui.search {
    margin: 190px auto;
    left: 40%;
  }
}


@media screen and (max-width: 960px) {

  .ui.search {
    margin: 210px auto;
    left: 40%;
  }
}

@media screen and (max-width: 800px) {

  .ui.search {
    margin: 170px auto;
    left: 40%;
  }
}

@media screen and (max-width: 730px) {

  .ui.search {
    margin: 105px auto;
    left: 38%;
  }
}

@media screen and (max-width: 560px) {

  .ui.search {
    margin: 90px auto;
    left: 30%;
  }
}

@media screen and (max-width: 440px) {

  .ui.search {
    margin: 90px auto;
    left: 20%;
  }
}

@media screen and (max-width: 400px) {

  .ui.search {
    margin: 63px auto;
    left: 20%;
  }
}



.background {
  background: url('/images/doodle.png') no-repeat center center fixed;
  background-size: cover;
}


.ui.topmenu.menu {
  background-color: transparent;
  margin: 0px;
  border-radius: 0px;
}

.footer-background {
  background-color: #f96d21;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-one {
  font-size: 25px;
}

.ui.menu .item {
  color: #ccc;
  font-size: 1em;
}

.ui.header>.icon{
  font-size: 1em;
}

@keyframes slider {
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}

#slider{
  overflow: hidden;
}

#slider figure img{
  width: 20%;
  float: left;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 19s slider infinite;
}

.ui[class*="center aligned"].container {
  text-align: center;
  background: #f96d21;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  width: 100%;
}

h1.ui.header {
  font-size: 2rem;
  color: white;
}

.ui.menu {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 600;
}

.ui.segment {
  box-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  margin: 2rem 183px;
}

.ui.icon.input>input {
  padding: 1em 2.4em;
}

.ui.search .prompt~.search.icon {
  font-size: 1.3em;
  color: #f15a29;
}